.title{
    border: brown solid 5px;
}

.son_box{
    margin: 50px;

}
f1{
    color: lightcoral;
    margin: auto;
    font-size: 23px;
}
.box{
    background-color: bisque;
}

button
{
    height: 50px;
    width: 100px;

}
h1{
    color: brown;
}


.J{
    width: 50%;
}